@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 0 0% 9%;
    --secondary: 217.2 32.6% 27.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 27.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 22.5%;
    --ring: 231 48% 68%;
    --radius: 0.5rem;
    --chart-1: 231 48% 68%;
    --chart-2: 261 40% 81%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 68%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 231 48% 68%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 0 0% 9%;
    --secondary: 217.2 32.6% 27.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 27.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 22.5%;
    --ring: 231 48% 68%;
    --chart-1: 231 48% 68%;
    --chart-2: 261 40% 81%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 68%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 231 48% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
